body{
            font: 1em "Helvetica Neue", Arial, sans-serif; /* 16 */

}
h1  {    
	color: #f16842;
    font-weight: 500;
    font-size: 72px;
}

h3, h4 {
        font-size: 1.875em; /* 30 / 16 */
    color: #FFFFFF;
}
h5{
    color: #CCC;
    font-weight: 500;
    font-size: 72px;

}
h6  {    
    color: #22a7f0;
    font-weight: 500;
    font-size: 24px;
}

.col-md-2{
    display:inline-block; 
    border:1px solid #44c767;

}
.col-md-2:hover {
 background-color: #44c767;
}

/* ===========
    NAVBAR
   =========== */
.navbar .nav > li > a:hover {
color: #FFFFFF; 
    background-color: #44c767;
            font: 1em "Helvetica Neue", Arial, sans-serif;
}
.navbar .nav > li > a {
color: #22a7f0; }

.navbar ul {
    font-size: 1.875em; /* 30 / 16 */
color: #22a7f0;
}

.navbar-default .navbar-brand {
    color: #f16842;
}



/* ===========
    DIVIT
   =========== */

.pizza {
    background-color: #CCC;
}

.pizza .container {
	background: url("pizzabg2.jpg") no-repeat; height: 798px; width: 100%;
    background-size: cover;
    padding-top: 15%;
    text-align: center;
    margin: 0 auto;
}

.lihapizza {
    background-color: #CCC;
}

.lihapizza .container {
    background: url("tausta.jpg") no-repeat;
	height: 1300px; width: 100%;
    padding-top: 5%;
    text-align: center;
    margin: 0 auto;
}

.lihapizza .kuva{
        background-color: #FFFFFF;

}
.lihapizza .container h2 {
      color: #f16842;

}
.vegepizza .container h2 {
      color: #f16842;

}

.vegepizza {
        text-align: center;
}

.vegepizza .container {
    background: url("pizzakeke.png") no-repeat;
        background-size: cover;
    height: 1300px; width: 100%;
    padding-top: 5%;
    text-align: center;
    margin: 0 auto;
}
.omavalinta {
    background-color: #CCC;

}

.omavalinta .container {
    height: 800px; width: 100%;
    background-size: cover;
    padding-top: 5%;
    text-align: center;
    margin: 0 auto;
}

/* ===========
    SCRIPTIT
   =========== */

#jason{
    width: 100%;
    text-align: center;
}


#slidebottom{
    width: 100%;
}

/* ===========
    LINKIT
   =========== */

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

/* ===========
    NAPPULAT
   =========== */

.OKnappula {
	background-color:transparent;
	border:1px solid #44c767;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:arial;
	font-size:24px;
	padding:24px 51px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.OKnappula:hover {
	background-color:#44c767;
}
.OKnappula:active {
	position:relative;
	top:1px;
}
.EInappula {
    background-color:transparent;
    border:1px solid #44c767;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:arial;
    font-size:24px;
    padding:24px 51px;
    text-decoration:none;
    text-shadow:0px 1px 0px #2f6627;
}
.EInappula:hover {
    background-color:#44c767;
}
.EInappula:active {
    position:relative;
    top:1px;
}

.juomanappula {
    background-color:transparent;
    border:1px solid #44c767;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:arial;
    font-size:18px;
    padding:24px 51px;
    text-decoration:none;
    text-shadow:0px 1px 0px #2f6627;
}
.juomanappula:hover {
    background-color:#5cbf2a;
}
.juomanappula:active {
    position:relative;
    top:1px;
}


.btn-primary{
    border-radius: 0;
      

}
.btn-success{
    
    border-radius: 0;
}

/* ===========
    FOOTER
   =========== */
.bottom {
    background-color: #474747;
}
.bottom .container {
    text-align: center;
    padding-top: 1%;
    width: 100%;
    background-color: #373737;
    min-height: 50px;
}

.bottom .container h3 {
    color: #999;
}
.bottom .container p {
    color: #666;
}

/* ===========
    DASHBOARD
   =========== */


