h1  {    
	color: #FFFFFF;
    font-family: 'LL Circular', sans-serif;
    font-weight: 500;
    font-size: 72px;
}

h3, h4 {
    color: #FFFFFF;
    font-family: 'LL Circular', sans-serif;
    font-weight: 500;
}
h5{
        color: #CCC;
            font-family: 'LL Circular', sans-serif;
    font-weight: 500;
    font-size: 72px;

}
.navbar {
	margin-bottom: 0px;
}

.pizza {
    background-color: #CCC;
}

.pizza .container {
	background: url("pizzabg2.jpg") no-repeat; height: 798px; width: 100%;
    background-size: cover;
    padding-top: 15%;
    text-align: center;
    margin: 0 auto;
}

.lihapizza {
    background-color: #CCC;
}

.lihapizza .container {
	height: 800px; width: 100%;
    padding-top: 5%;
    text-align: center;
    margin: 0 auto;
}

.lihapizza .kuva{
        background-color: #FFFFFF;

}

.vegepizza {
    background-color: #CCC;
}

.vegepizza .container {
    height: 800px; width: 100%;
    padding-top: 5%;
    text-align: center;
    margin: 0 auto;
}
.omavalinta {
    background-color: #FFFFFF;

}

.omavalinta .container {
    background-size: cover;
    padding-top: 5%;
    text-align: center;
    margin: 0 auto;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}


/* ===========
    DASHBOARD
   =========== */
